<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default: metadata.title }}</title>
    <meta name="description" content="{{ metadata.subtitle }}" />
    <link rel="stylesheet" href="../styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="alternate"
      href="feed.xml"
      title="Šime’s blog feed"
      type="application/atom+xml"
    />
  </head>
  <body>
    <div id="page">
      <main>{{ content }}</main>
      <nav>
        <h2>All blog posts</h2>
        <p>
          <a href="feed.xml">RSS feed</a>
          <!-- (included in
          <a href="https://github.com/simevidas/web-dev-feeds">web-dev-feeds</a
          >) -->
        </p>
        <ol reversed>
          {% for post in collections.posts reversed %}
          <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a> - {{ post.date |
            readableDate: "LLL dd" }}
          </li>
          {% endfor %}
        </ol>
      </nav>
    </div>
  </body>
</html>
