* {
  box-sizing: border-box;
}

html {
  --text-color: #333;
  --background-color: white;
  --link-color: blue;
  --details-bg-color: beige;
}

@media (prefers-color-scheme: dark) {
  html {
    --text-color: white;
    --background-color: #333;
    --link-color: yellow;
    --details-bg-color: darkolivegreen;
  }
}

body {
  margin: 0;
  padding-inline: 1em;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-wrap: break-word;
}

#page {
  max-width: 40em;
  margin-inline: auto;
}

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: -0.02em;
}

a {
  color: var(--link-color);
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: smaller;
  text-align: center;
  margin-top: 0.5ch;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

pre {
  overflow-x: auto;
}

code {
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas,
    'Liberation Mono', monospace;
  font-size: 87.5%;
}

blockquote {
  border-left: 0.5ch solid var(--text-color);
  margin-left: 1ch;
  padding-left: 1ch;
}

dt {
  font-weight: bold;
}

dd + dt {
  margin-top: 1ch;
}

details {
  background: var(--details-bg-color);
  width: fit-content;
  padding-inline: 0.25em;
}

summary {
  user-select: none;
}

summary:hover {
  cursor: pointer;
}

nav {
  margin-block: 3em;
}

nav li {
  margin-top: 0.6ch;
}
